<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <variable name="appName" 
            value="SixDegrees" />
  
  <variable name="logFilePath" 
            value="${specialfolder:folder=Desktop:file=${appName}}"/>
  
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->

    <target name="errorLog" 
            xsi:type="File"
            fileName="${logFilePath}_Error.log" 
            layout="${longdate} ${level:upperCase=true}: ${message}${newline}(${stacktrace}) ${exception:format=ToString}"/>

    <target name="infoLog" 
            xsi:type="File"
            fileName="${logFilePath}_Info.log"
            layout="${longdate} ${level:upperCase=true}: ${message} ${exception:format=ToString}"/>
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" maxlevel="Info" writeTo="infoLog"/>
    <logger name="*" minlevel="Warn" writeTo="errorLog"/>
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>